{% extends "base.html" %}

{% block header %}
    <h2>登录页面</h2>
    <ul>
        {% for on in user %}
            <li>username:{{on[0]}} &nbsp&nbsp&nbsp:&nbsp&nbsp&nbsp {{on[1]}}</li>
        {% end %}
    </ul>
    <!p>用用户名为：{{user}}登录</p> 
{% end %}
{% block body %}
    <form method="POST">
        <p><span>UserName:</span><input type="text" id="username"/></p>
        <p><span>Password:</span><input type="password" id="password" /></p>
        <p><input type="BUTTON" value="登录" id="login" /></p>
    </form>
<table id="example" class="display" cellspacing="0" width="100%">
<thead>
<tr>
<th>Name</th>
<th>Position</th>
<th>Office</th>
<th>Extn.</th>
<th>Start date</th>
<th>Salary</th>
</tr>
        {% for on in user %}
            <li>username:{{on[0]}}</li>
            <li>email:{{on[1]}}</li>
        {% end %}
</thead>
</table>
{% end %}
