{% extends "base.html" %}

{% block header %}

    <h2>变更计划</h2>
    <ul>
        {% for on in new %}
            <li>index:{{on[0]}} &nbsp&nbsp&nbsp:&nbsp&nbsp&nbsp {{on[1]}}  &nbsp&nbsp&nbsp:&nbsp&nbsp&nbsp {{on[2]}} </li>
        {% end %}
    </ul>
{% end %}

{% block body %}
    <form method="POST">
        <p><span>UserName:</span><input type="text" id="username"/></p>
        <p><span>Password:</span><input type="password" id="password" /></p>
        <p><input type="BUTTON" value="登录" id="login" /></p>
        您最喜欢水果？<br /><br />
<label><input name="Fruit" type="radio" value="" />苹果 </label>
<label><input name="Fruit" type="radio" value="" />桃子 </label>
<label><input name="Fruit" type="radio" value="" />香蕉 </label>
<label><input name="Fruit" type="radio" value="" />梨 </label>
<label><input name="Fruit" type="radio" value="" />其它 </label>
    </form>
{% end %}
